@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Quicksand:wght@300&display=swap');

body {
 background-color: azure;
 text-align: center;
 font-family: 'Merriweather Sans', sans-serif;
}

h2 {
 background-color: gold;
 padding: 10px;
}

input {
 padding: 10px;
 font-family: Quicksand;
}

button {
 padding: 10px;
 background-color: red;
 border: none;
 color: white;
}